In [1]:
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://snshrivas:Snshrivas@cluster0.u46c4.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri)

In [2]:
database=client["youtubecomunity"]

In [3]:
collection=database["session"]

In [5]:
data={

    "coursename":"genai",
    "instrutorname":"sunny",
    "modeofsession":"english"
}

In [6]:
data

{'coursename': 'genai', 'instrutorname': 'sunny', 'modeofsession': 'english'}

In [9]:
collection.insert_one(data)

InsertOneResult(ObjectId('658e9ddd5e020d6d30de40b7'), acknowledged=True)

In [14]:
all_record=collection.find()

In [15]:
for record in all_record:
    print(record)

{'_id': ObjectId('658e9ddd5e020d6d30de40b7'), 'coursename': 'genai', 'instrutorname': 'sunny', 'modeofsession': 'english'}

In [16]:
collection.insert_many(
    [
        {

    "coursename":"genai",
    "instrutorname":"sunny",
    "modeofsession":"english"
},

{

    "coursename":"mlops",
    "instrutorname":"sunnysavita",
    "modeofsession":"english&hindi"
}
        
    ]
)

InsertManyResult([ObjectId('658e9fa55e020d6d30de40b8'), ObjectId('658e9fa55e020d6d30de40b9')], acknowledged=True)

In [31]:
class mongodb_operation:

    def __init__(self,client_url: str, database_name: str, collection_name: str=None):
        self.client_url=client_url
        self.database_name=database_name
        self.collection_name=collection_name

    def create_client(self):
        client=MongoClient(self.client_url)
        return client


    def create_database(self):
        client=self.create_client()
        database=client[self.database_name]
        return database
        
    def create_collection(self,collection=None):
        database=self.create_database()
        collection=database[collection]
        return collection

    def insert_record(self,record:dict,collection_name:str):
        if type(record)==list:
            for data in record:
                if type(data)!= dict:
                    raise TypeError("record must be in the dict")
            collection=self.create_collection(collection_name)
            collection.insert_many(record)
        elif type(record)==dict:
            collection=self.create_collection(collection_name)
            collection.insert_one(record)

    def bulk_insert(self,datafile:str,collection_name:str=None):
        self.path=datafile

        if self.path.endswith('.csv'):
            data=pd.read_csv(self.path,encoding='utf-8')

        elif self.path.endswith('.xlsx'):
            data=pd.read_excel(self.path,encoding='utf-8')
            
        datajson=json.loads(data.to_json(orient='record'))
        collection=self.create_collection()
        collection.insert_many(datajson)

In [32]:
#call the mongodb connection 
client_url =  "mongodb+srv://snshrivas:Snshrivas@cluster0.u46c4.mongodb.net/?retryWrites=true&w=majority"   # I have created a demo connection for you to understand. You can use your own.
database = "mynewdatabase"
collection_name = "myoldcolumn"

In [33]:
mongo=mongodb_operation(client_url,database,collection_name)

In [34]:
mongo.insert_record({"name":"sunny","designation":"data scientist","salary":"10k"},collection_name)

In [35]:
mongo.insert_record([{"name":"sunny","designation":"data scientist","salary":"10k"},
{"name":"sudhanshu","designation":"sr. data scientist","salary":"150k"},
{"name":"krish","designation":"lead data scientist","salary":"70k"}
],collection_name)

In [136]:
from typing import Any
import os
import pandas as pd
import pymongo
import json
from ensure import ensure_annotations
from pymongo.mongo_client import MongoClient

class mongo_operation:
    
    def __init__(self,client_url: str, database_name: str):
        self.client_url=client_url
        self.database_name=database_name

    def create_mongo_client(self):
        client = MongoClient(self.client_url)
        return client
    
    def create_database(self):
        client = self.create_mongo_client()
        self.database = client[self.database_name]
        return self.database
    
    def create_collection(self,collection_name:str):
        database = self.create_database()
        collection = database[collection_name]
        return collection
    
    def insert_record(self,record: dict, collection_name: str):
        if type(record) == list:
            for data in record:
                if type(data) != dict:
                    raise TypeError("record must be in the dict")    
            collection=self.create_collection(collection_name)
            collection.insert_many(record)
        elif type(record)==dict:
            collection=self.create_collection(collection_name)
            collection.insert_one(record)
        return

    def read_record(self,collection_name:str):
        collection = self.create_collection(collection_name)
        records = collection.find()
        for record in records:
            print(record)
        return 

    def delete_record(self,record,collection_name:str):
        collection = self.create_collection(collection_name)
        result = collection.delete_many(record)
        print(result.deleted_count)
        return
    
    def update_record(self,query,update,collection_name):
        collection.update_many(query,update)
        return
    
    def bulk_insert(self,datafile,collection_name:str):
        self.path=datafile
        if self.path.endswith('.csv'):
            df = pd.read.csv(self.path,encoding='utf-8')
        elif self.path.endswith(".xlsx"):
            df = pd.read_excel(self.path,encoding='utf-8') 
        datajson=json.loads(df.to_json(orient='record'))
        collection=self.create_collection()
        collection.insert_many(datajson)

In [137]:
uri = "mongodb+srv://saikiranpatnana:mayya143@saikiran.bdu0jbl.mongodb.net/?retryWrites=true&w=majority"

In [138]:
obj = mongo_operation(uri,'saikiran')

In [139]:
db = obj.create_database()

In [140]:
collection = obj.create_collection('patnana')

In [141]:
 data = [
        {

    "coursename":"genai",
    "instrutorname":"sunny",
    "modeofsession":"english"
},

{

    "coursename":"mlops",
    "instrutorname":"sunnysavita",
    "modeofsession":"english&hindi"
}
        
    ]

In [142]:
obj.insert_record(data,'patnana')

In [143]:
obj.read_record('patnana')

{'_id': ObjectId('659929ec932053c73246b22c'), 'coursename': 'genai', 'instrutorname': 'sunny', 'modeofsession': 'english'}
{'_id': ObjectId('659929ec932053c73246b22d'), 'coursename': 'mlops', 'instrutorname': 'sunnysavita', 'modeofsession': 'english&hindi'}

In [144]:
obj.delete_record({'coursename': 'genai'},'patnana')

1

In [145]:
obj.read_record('patnana')

{'_id': ObjectId('659929ec932053c73246b22d'), 'coursename': 'mlops', 'instrutorname': 'sunnysavita', 'modeofsession': 'english&hindi'}

In [148]:
obj.insert_record({'coursename': 'genai', 'instrutorname': 'sunny', 'modeofsession': 'english'},'patnana')

In [149]:
obj.read_record('patnana')

{'_id': ObjectId('659929ec932053c73246b22d'), 'coursename': 'mlops', 'instrutorname': 'sunnysavita', 'modeofsession': 'english&hindi'}
{'_id': ObjectId('65992a84932053c73246b232'), 'coursename': 'genai', 'instrutorname': 'sunny', 'modeofsession': 'english'}

In [150]:
obj.update_record({'coursename': 'mlops'},{ "$set": {'coursename': 'genai'} },'patnana')

In [151]:
obj.read_record('patnana')

{'_id': ObjectId('659929ec932053c73246b22d'), 'coursename': 'genai', 'instrutorname': 'sunnysavita', 'modeofsession': 'english&hindi'}
{'_id': ObjectId('65992a84932053c73246b232'), 'coursename': 'genai', 'instrutorname': 'sunny', 'modeofsession': 'english'}